:root {
  --colorTexts: #094283cb;

}

*, 
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

h2 {
    text-align: center;
    font-weight: 700;
}

form {
    width: 40% ;
    background: white;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-color: 1px solid var(--colorTexts);
}

input:focus {
    outline: none;
}

label {
    color: var(--colorTexts);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
}

input:focus~label, input:valid~label {
top: -14px;
font-size: 12px;
font-weight: 600;
color: #052e6d;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute; 
    background: linear-gradient(to right, #6d81db, #74ebd5);
    transition: 0.3s ease;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

.btn  {
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-radius: 50px;
    width: 50%;
    margin: 10px;
    color: white;
    text-shadow:  3px 3px 2px #098eaf;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    justify-content: center;
}

.btn:hover {
    box-shadow:  4px 4px 3px #8c8c8d;
}

.btn:focus {
    outline: none;
    text-shadow:  4px 4px 3px #8c8c8d;
    font-size: 20px;
    color: rgb(250, 250, 250);
    box-shadow:  5px 4px 4px #8c8c8d;
}

@media screen and (max-width:500px){
    .form {
        width: 80%;
    }
}
